<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WoodGrain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WoodGrain.Properties.Settings>
            <setting name="InputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Layers" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MinSteps" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinTemp" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="MaxTemp" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="MaxSteps" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StartingTemperature" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="StartingLayers" serializeAs="String">
                <value>10</value>
            </setting>
        </WoodGrain.Properties.Settings>
    </userSettings>
</configuration>